<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Page</title>
</head>

<body>
    <form method="POST" action="">
        <button type="submit" name="reset" value="lr">RESET</button>
    </form>
    <h1>{{game.state}}</h1>
    <h3>Player turn: {{game.active.name}}</h3>
    <table style="width:50%; float:center; text-align:center">
        <tr>
            <td>Player 1: {{game.player1.name}}: {{game.player1.get_state()}}</td>
        </tr>
        <tr>
            <!-- Left side -->
            <td><img src="{{url_for('static', filename=game.player1.left.count|string() + 'LDOWN.png')}}" width="64">
            </td>
            <!-- Right side -->
            <td><img src="{{url_for('static', filename=game.player1.right.count|string() + 'RDOWN.png')}}" width="64">
            </td>
        </tr>
        <tr>
            <td>
                <form method="POST" action="">
                    <button type="submit" name="attack" value="ll" {{"disabled" if game.active != game.player2}}>Attack
                        with
                        left</button>
                    <button type="submit" name="attack" value="rl" {{'disabled' if game.active != game.player2}}>Attack
                        with
                        right</button>
                </form>
            </td>
            <td>
                <form method="POST" action="">
                    <button type="submit" name="attack" value="lr" {{'disabled' if game.active != game.player2}}>Attack
                        with
                        left</button>
                    <button type="submit" name="attack" value="rr" {{'disabled' if game.active != game.player2}}>Attack
                        with
                        right</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>Player 2: {{game.player2.name}}: {{game.player2.get_state()}}</td>
        </tr>
        <tr>
            <!-- Left side -->
            <td><img src="{{url_for('static', filename=game.player2.left.count|string() + 'LUP.png')}}" width="64"></td>
            <!-- Right side -->
            <td><img src="{{url_for('static', filename=game.player2.right.count|string() + 'RUP.png')}}" width="64">
            </td>
        </tr>
        <tr>
            <td>
                <form method="POST" action="">
                    <button type="submit" name="attack" value="ll" {{'disabled' if game.active != game.player1}}>Attack
                        with left</button>
                    <button type="submit" name="attack" value="rl" {{'disabled' if game.active != game.player1}}>Attack
                        with right</button>
                </form>
            </td>
            <td>
                <form method="POST" action="">
                    <button type="submit" name="attack" value="lr" {{'disabled' if game.active != game.player1}}>Attack
                        with left</button>
                    <button type="submit" name="attack" value="rr" {{'disabled' if game.active != game.player1}}>Attack
                        with right</button>
                </form>
            </td>
        </tr>
    </table>
</body>

</html>
